.manage-users-container{
    .users-content{
        
    }
}

.modal-add-user{
    .img-preview{
        border: 1px solid gray;
        height: 150px;
        border-style: dashed;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: gray;
        img{
            max-width: 100%;
            max-height: 100%;
        }
    }
    .label-upload{
        gap:5px;
        display: flex;
        align-items: center;
        border: 1px solid red;
        width: fit-content;
        padding: 3px 10px;
        border-radius: 5px;
        background: #eeeeee;
        border: none;
        cursor: pointer;

        &:hover{
            background: #dcdcdc;
        }
    }
}